<div class="col-xs-4 col-xs-offset-1">
  <div class="form-group">
    <label for="inputName">Nombre </label>
    <input type="text" class="form-control" id="inputName" data-ng-model="newOrEditCtrl.dentistToEdit.name">
  </div>

  <div class="form-group">
    <label for="inputSurname">Apellido</label>
    <input type="text" class="form-control" id="inputSurname" data-ng-model="newOrEditCtrl.dentistToEdit.surname">
  </div>

  <div class="form-group">
    <label for="inputEnrollment">Matrícula</label>
    <input type="number" class="form-control" id="inputEnrollment" data-ng-model="newOrEditCtrl.dentistToEdit.enrollment">
  </div>

  <div class="form-group" data-ng-repeat="location in newOrEditCtrl.dentistToEdit.locations track by $index">
    <label for="inputLocation">Localidad
      <span data-ng-show="$index > 0">{{$index + 1}}</span>
      <span title="Agregar otro campo" class="plus-value glyphicon glyphicon-plus" data-ng-show="$index == 0"
            data-ng-click="newOrEditCtrl.dentistToEdit.locations.push('')"></span>
    </label>
    <input type="text" class="form-control" id="inputLocation" data-ng-model="newOrEditCtrl.dentistToEdit.locations[$index]">
  </div>

  <div class="form-group" data-ng-repeat="institution in newOrEditCtrl.dentistToEdit.institutions track by $index">
    <label for="inputInstitute">Institución
      <span data-ng-show="$index > 0">{{$index + 1}}</span>
      <span title="Agregar otro campo" class="plus-value glyphicon glyphicon-plus" data-ng-show="$index == 0"
            data-ng-click="newOrEditCtrl.dentistToEdit.institutions.push('')"></span>
    </label>
    <input type="text" class="form-control" id="inputInstitute" data-ng-model="newOrEditCtrl.dentistToEdit.institutions[$index]">
  </div>

  <div class="form-group" data-ng-repeat="street in newOrEditCtrl.dentistToEdit.streets track by $index">
    <label for="inputStreet">Calle
      <span data-ng-show="$index > 0">{{$index + 1}}</span>
      <span title="Agregar otro campo" class="plus-value glyphicon glyphicon-plus" data-ng-show="$index == 0"
            data-ng-click="newOrEditCtrl.dentistToEdit.streets.push('')"></span>
    </label>
    <input type="text" class="form-control" id="inputStreet" data-ng-model="newOrEditCtrl.dentistToEdit.streets[$index]">
  </div>
</div>

<div class="col-xs-4 col-xs-offset-2">

  <div class="form-group" data-ng-repeat="number in newOrEditCtrl.dentistToEdit.numbers track by $index">
    <label for="inputNumber">Número
      <span data-ng-show="$index > 0">{{$index + 1}}</span>
      <span title="Agregar otro campo" class="plus-value glyphicon glyphicon-plus" data-ng-show="$index == 0"
            data-ng-click="newOrEditCtrl.dentistToEdit.numbers.push('')"></span>
    </label>
    <input type="number" class="form-control" id="inputNumber" data-ng-model="newOrEditCtrl.dentistToEdit.numbers[$index]">
  </div>

  <div class="form-group" data-ng-repeat="telephone in newOrEditCtrl.dentistToEdit.telephones track by $index">
    <label for="inputTelephone">Teléfono
      <span data-ng-show="$index > 0">{{$index + 1}}</span>
      <span title="Agregar otro campo" class="plus-value glyphicon glyphicon-plus" data-ng-show="$index == 0"
            data-ng-click="newOrEditCtrl.dentistToEdit.telephones.push('')"></span>
    </label>
    <input type="text" class="form-control" id="inputTelephone" data-ng-model="newOrEditCtrl.dentistToEdit.telephones[$index]">
  </div>

  <div class="form-group" data-ng-repeat="cellphone in newOrEditCtrl.dentistToEdit.cellphones track by $index">
    <label for="inputCellphone">Celular
      <span data-ng-show="$index > 0">{{$index + 1}}</span>
      <span title="Agregar otro campo" class="plus-value glyphicon glyphicon-plus" data-ng-show="$index == 0"
            data-ng-click="newOrEditCtrl.dentistToEdit.cellphones.push('')"></span>
    </label>
    <input type="text" class="form-control" id="inputCellphone" data-ng-model="newOrEditCtrl.dentistToEdit.cellphones[$index]">
  </div>

  <div class="form-group" data-ng-repeat="email in newOrEditCtrl.dentistToEdit.emails track by $index">
    <label for="inputEmail">E-mail
      <span data-ng-show="$index > 0">{{$index + 1}}</span>
      <span title="Agregar otro campo" class="plus-value glyphicon glyphicon-plus" data-ng-show="$index == 0"
            data-ng-click="newOrEditCtrl.dentistToEdit.emails.push('')"></span>
    </label>
    <input type="email" class="form-control" id="inputEmail" data-ng-model="newOrEditCtrl.dentistToEdit.emails[$index]">
  </div>

  <div class="form-group">
    <label for="inputSpeciality">Especialidad</label>
    <input type="text" class="form-control" id="inputSpeciality" data-ng-model="newOrEditCtrl.dentistToEdit.specialty">
  </div>

  <div class="form-group">
    <label for="attentionTime">Horarios de atención</label><br>
    <button type="button" class="btn btn-sm btn-success" data-ng-click="newOrEditCtrl.viewAttentionTime()">Abrir</button>
  </div>
</div>
