<div class="col-xs-5 col-xs-offset-1">
  <div class="form-group">
    <label for="inputName">Nombre </label>
    <input type="text" class="form-control input-plus" id="inputName" data-ng-model="newOrEditCtrl.dentistToEdit.name">
  </div>
  <div class="form-group">
    <label for="inputSurname">Apellido</label>
    <input type="text" class="form-control input-plus" id="inputSurname" data-ng-model="newOrEditCtrl.dentistToEdit.surname">
  </div>
  <div class="form-group">
    <label for="inputEnrollment">Matrícula</label>
    <input type="number" class="form-control input-plus" id="inputEnrollment" data-ng-model="newOrEditCtrl.dentistToEdit.enrollment">
  </div>
  <div class="form-group" data-ng-repeat="telephone in newOrEditCtrl.dentistToEdit.telephones track by $index">
    <label for="inputTelephone">Teléfono
      <span data-ng-show="$index > 0">{{$index + 1}}</span>
    </label>
    <div>
      <input type="text" class="form-control input-plus" id="inputTelephone" data-ng-model="newOrEditCtrl.dentistToEdit.telephones[$index]">
      <button type="button" title="Agregar otro campo" class="btn btn-xs plus-value glyphicon glyphicon-plus" data-ng-show="$index == 0"
              data-ng-click="newOrEditCtrl.dentistToEdit.telephones.push('')"></button>
      <button type="button" title="Borrar campo" class="btn btn-xs minus-value glyphicon glyphicon-minus" data-ng-show="$index != 0"
              data-ng-click="newOrEditCtrl.removeFieldFrom(newOrEditCtrl.dentistToEdit.telephones, $index)"></button>
    </div>
  </div>
  <div class="form-group" data-ng-repeat="cellphone in newOrEditCtrl.dentistToEdit.cellphones track by $index">
    <label for="inputCellphone">Celular
      <span data-ng-show="$index > 0">{{$index + 1}}</span>
    </label>
    <div>
      <input type="text" class="form-control input-plus" id="inputCellphone" data-ng-model="newOrEditCtrl.dentistToEdit.cellphones[$index]">
      <button type="button" title="Agregar otro campo" class="btn btn-xs plus-value glyphicon glyphicon-plus" data-ng-show="$index == 0"
              data-ng-click="newOrEditCtrl.dentistToEdit.cellphones.push('')"></button>
      <button type="button" title="Borrar campo" class="btn btn-xs minus-value glyphicon glyphicon-minus" data-ng-show="$index != 0"
              data-ng-click="newOrEditCtrl.removeFieldFrom(newOrEditCtrl.dentistToEdit.cellphones, $index)"></button>
    </div>
  </div>
  <div class="form-group" data-ng-repeat="email in newOrEditCtrl.dentistToEdit.emails track by $index">
    <label for="inputEmail">E-mail
      <span data-ng-show="$index > 0">{{$index + 1}}</span>
    </label>
    <div>
      <input type="email" class="form-control input-plus" id="inputEmail" data-ng-model="newOrEditCtrl.dentistToEdit.emails[$index]">
      <button type="button" title="Agregar otro campo" class="btn btn-xs plus-value glyphicon glyphicon-plus" data-ng-show="$index == 0"
              data-ng-click="newOrEditCtrl.dentistToEdit.emails.push('')"></button>
      <button type="button" title="Borrar campo" class="btn btn-xs minus-value glyphicon glyphicon-minus" data-ng-show="$index != 0"
              data-ng-click="newOrEditCtrl.removeFieldFrom(newOrEditCtrl.dentistToEdit.emails, $index)"></button>
    </div>
  </div>
</div>

<div class="col-xs-5 col-xs-offset-1">
  <div data-ng-repeat="institute in newOrEditCtrl.dentistToEdit.institutes track by $index">
    <div class="form-group">
      <label for="inputInstitute">Instituto <span data-ng-show="$index > 0">{{$index + 1}}</span></label>
      <div>
        <input type="text" class="form-control input-plus" id="inputInstitute" data-ng-model="newOrEditCtrl.dentistToEdit.institutes[$index].name">
        <button type="button" title="Agregar otro instituto" class="btn btn-xs plus-value glyphicon glyphicon-plus" data-ng-show="$index == 0"
                data-ng-click="newOrEditCtrl.dentistToEdit.newInstitute()"></button>
        <button type="button" title="Borrar instituto" class="btn btn-xs minus-value glyphicon glyphicon-minus" data-ng-show="$index != 0"
                data-ng-click="newOrEditCtrl.removeInstitute($index)"></button>
      </div>
    </div>
    <div class="form-group">
      <label for="inputStreet">Calle <span data-ng-show="$index > 0">{{$index + 1}}</span></label>
      <div>
        <input type="text" class="form-control input-plus" id="inputStreet" data-ng-model="newOrEditCtrl.dentistToEdit.institutes[$index].street">
      </div>
    </div>
    <div class="form-group">
      <label for="inputNumber">Número <span data-ng-show="$index > 0">{{$index + 1}}</span></label>
      <div>
        <input type="number" class="form-control input-plus" id="inputNumber" data-ng-model="newOrEditCtrl.dentistToEdit.institutes[$index].number">
      </div>
    </div>
    <div class="form-group">
      <label for="inputLocation">Localidad <span data-ng-show="$index > 0">{{$index + 1}}</span></label>
      <div>
        <input type="text" class="form-control input-plus" id="inputLocation" data-ng-model="newOrEditCtrl.dentistToEdit.institutes[$index].location">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputSpeciality">Especialidad</label>
    <input type="text" class="form-control input-plus" id="inputSpeciality" data-ng-model="newOrEditCtrl.dentistToEdit.specialty">
  </div>
  <div class="form-group">
    <label for="attentionTime">Horarios de atención</label><br>
    <button type="button" class="btn btn-sm btn-success" data-ng-click="newOrEditCtrl.viewAttentionTime()">Abrir</button>
  </div>
</div>
