<div class="col-xs-4 col-xs-offset-1">
  <div class="form-group">
    <label for="inputName">Nombre </label>
    <input type="text" class="form-control" id="inputName" data-ng-model="newOrEditCtrl.dentistToEdit.name">
  </div>
  <div class="form-group">
    <label for="inputSurname">Apellido</label>
    <input type="text" class="form-control" id="inputSurname" data-ng-model="newOrEditCtrl.dentistToEdit.surname">
  </div>
  <div class="form-group">
    <label for="inputEnrollment">Matrícula</label>
    <input type="text" class="form-control" id="inputEnrollment" data-ng-model="newOrEditCtrl.dentistToEdit.enrollment">
  </div>
  <div class="form-group">
    <label for="inputLocation">Localidad</label>
    <input type="text" class="form-control" id="inputLocation" data-ng-model="newOrEditCtrl.dentistToEdit.location">
  </div>
  <div class="form-group">
    <label for="inputInstitute">Institución</label>
    <input type="text" class="form-control" id="inputInstitute" data-ng-model="newOrEditCtrl.dentistToEdit.institution">
  </div>
  <div class="form-group">
    <label for="inputStreet">Calle</label>
    <input type="text" class="form-control" id="inputStreet" data-ng-model="newOrEditCtrl.dentistToEdit.street">
  </div>
  <div class="form-group">
    <label for="inputNumber">Número</label>
    <input type="text" class="form-control" id="inputNumber" data-ng-model="newOrEditCtrl.dentistToEdit.number">
  </div>
</div>
<div class="col-xs-4 col-xs-offset-2">
  <div class="form-group">
    <label for="inputTelephone">Teléfono</label>
    <input type="text" class="form-control" id="inputTelephone" data-ng-model="newOrEditCtrl.dentistToEdit.telephone">
  </div>
  <div class="form-group">
    <label for="inputCellphone">Celular</label>
    <input type="text" class="form-control" id="inputCellphone" data-ng-model="newOrEditCtrl.dentistToEdit.cellphone">
  </div>
  <div class="form-group">
    <label for="inputEmail">E-mail</label>
    <input type="text" class="form-control" id="inputEmail" data-ng-model="newOrEditCtrl.dentistToEdit.email">
  </div>
  <div class="form-group">
    <label for="inputSpeciality">Especialidad</label>
    <input type="text" class="form-control" id="inputSpeciality" data-ng-model="newOrEditCtrl.dentistToEdit.specialty">
  </div>
  <div class="form-group">
    <label for="inputDaysAttention">Días de atención</label>
    <br>
    <input type="checkbox" id="inputDaysAttention">Lunes
    <input type="checkbox" id="inputDaysAttention">Martes
    <input type="checkbox" id="inputDaysAttention">Miercoles
    <input type="checkbox" id="inputDaysAttention">Jueves
    <br>
    <input type="checkbox" id="inputDaysAttention">Viernes
    <input type="checkbox" id="inputDaysAttention">Sabado
    <input type="checkbox" id="inputDaysAttention">Domingo
  </div>
  <div class="form-group col-xs-4">
    <label for="desde">Desde</label>
    <input type="number" class="form-control" id="desde">
  </div>
  <div class="form-group col-xs-4">
    <label for="hasta">Hasta</label>
    <input class="form-control" type="number" id="hasta">
  </div>
</div>