<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div>
        <button class="btn btn-sm btn-default" type="button" data-ng-click="removeToView()" data-ui-sref="dentists">Volver</button>
        <br><br>
      </div>
      <div>
        <form class="form-horizontal text-center">
          <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Nombre </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputName" data-ng-model="toView.name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputSurname" class="col-sm-2 control-label">Apellido</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputSurname" data-ng-model="toView.surname">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEnrollment" class="col-sm-2 control-label">Matrícula</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEnrollment" data-ng-model="toView.enrollment">
            </div>
          </div>
          <div class="form-group">
            <label for="inputLocation" class="col-sm-2 control-label">Localidad</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputLocation" data-ng-model="toView.location">
            </div>
          </div>
          <div class="form-group">
            <label for="inputInstitute" class="col-sm-2 control-label">Institución</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputInstitute" data-ng-model="toView.institution">
            </div>
          </div>
          <div class="form-group">
            <label for="inputStreet" class="col-sm-2 control-label">Calle</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputStreet" data-ng-model="toView.street">
            </div>
          </div>
          <div class="form-group">
            <label for="inputNumber" class="col-sm-2 control-label">Número</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputNumber" data-ng-model="toView.number">
            </div>
          </div>
          <div class="form-group">
            <label for="inputTelephone" class="col-sm-2 control-label">Teléfono</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputTelephone" data-ng-model="toView.telephone">
            </div>
          </div>
          <div class="form-group">
            <label for="inputCellphone" class="col-sm-2 control-label">Celular</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputCellphone" data-ng-model="toView.cellphone">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">E-mail</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail" data-ng-model="toView.email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputSpeciality" class="col-sm-2 control-label">Especialidad</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputSpeciality" data-ng-model="toView.specialty">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAttention" class="col-sm-2 control-label">Días y horarios de atención</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputAttention" data-ng-model="toView.attention_datetime">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
