<div class="container" data-ng-controller="NewOrEditCtrl as newOrEditCtrl">
  <div class="row">
    <div class="col-xs-12 text-center light-title padding-top-20">
      <span data-ng-hide="newOrEditCtrl.editMode">Nuevo registro</span>
      <span data-ng-show="newOrEditCtrl.editMode">Editar registro</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <form name="outerForm">
        <data-uib-tabset active="activeForm">
          <data-uib-tab index="0" heading="Odontólogo">
            <data-ng-form name="nestedForm">
              <div class="padding-top-30" data-ng-include="'forms/dentist.html'"></div>
            </data-ng-form>
          </data-uib-tab>
          <data-uib-tab index="1" heading="Visitador" data-ng-hide="newOrEditCtrl.editMode">
            <div class="padding-top-30" data-ng-include="'forms/visitor.html'"></div>
          </data-uib-tab>
        </data-uib-tabset>
        <div class="row">
          <div data-ng-include="'forms/actions.html'"></div>
        </div>
      </form>
    </div>
  </div>
</div>
