<div class="col-xs-5 col-xs-offset-1">
  <div class="form-group">
    <label for="inputVisitorName">Nombre del visitador</label>
    <input type="text" class="form-control" id="inputVisitorName" data-ng-model="newOrEditCtrl.newVisitor.name" style="width: 90%">
  </div>
  <div class="form-group">
    <label for="inputVisitDate">Fecha de visita</label>
    <div class="input-group" data-ng-controller="DatePickerCtrl as datePickerCtrl" style="width: 90%">
      <input type="text" class="form-control" style="display: inline-block;"
             data-ng-required="true"
             data-uib-datepicker-popup="dd-MM-yyyy"
             data-is-open="datePickerCtrl.popup.opened"
             data-datepicker-options="datePickerCtrl.dateOptions"
             data-current-text="Hoy"
             data-close-text="Salir"
             data-ng-model="newOrEditCtrl.newVisit.visitDate"
             data-clear-text="Limpiar"
             data-ng-click="datePickerCtrl.open()"/>
      <span class="input-group-btn">
        <button type="button" class="form-control btn btn-default"
                data-ng-click="datePickerCtrl.open()">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </div>
  </div>
</div>
<div class="col-xs-5 col-xs-offset-1">
  <div class="form-group">
    <label for="areaObservations">Observaciones</label>
    <textarea name="observations" id="areaObservations" class="form-control" cols="35" rows="5"
              data-ng-model="newOrEditCtrl.newVisit.observations">
      </textarea>
  </div>
</div>