<div class="container-fluid">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Horarios de atención</h4>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="form-group">
            <label>Odontólogo:</label> {{AttentionTimeCtrl.dentist.name}} {{AttentionTimeCtrl.dentist.surname}}
        </div>
        <table class="table attention-time">
            <thead>
            <tr>
                <th data-ng-repeat="day in AttentionTimeCtrl.days">{{day}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="time"
                    data-ng-repeat="day in AttentionTimeCtrl.days">
                    <div data-ng-repeat="time in AttentionTimeCtrl.workCalendar.workableHoursFor(day) | orderBy:'from'">
                        <div class="printed">{{time.from}} a {{time.to}}</div>
                        <button type="button" title="Borrar campo"
                                class="btn btn-xs minus-value glyphicon glyphicon-minus"
                                data-ng-click="AttentionTimeCtrl.removeHourFrom(day, time)"></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="time"
                    data-ng-repeat="day in AttentionTimeCtrl.days">
                    <input type="text" class="form-control text-center timepicker" placeholder="Desde"
                           data-ng-model="AttentionTimeCtrl.newWorkableHours[day]['from']">

                    <input type="text" class="form-control text-center to timepicker" placeholder="Hasta"
                           data-ng-model="AttentionTimeCtrl.newWorkableHours[day]['to']">
                    <button type="button" title="Agregar otro campo"
                            class="btn btn-xs plus-value glyphicon glyphicon-plus"
                            data-ng-click="AttentionTimeCtrl.addHoursFor(day)"></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" data-ng-click="AttentionTimeCtrl.save()">Guardar</button>
    <button class="btn btn-default" type="button" data-ng-click="AttentionTimeCtrl.cancel()">Cancelar</button>
</div>

<script>
    $(document).ready(function(){
        $('input.timepicker').timepicker({
            timeFormat: 'HH:mm'
        });
    });
</script>
