.attention-time th {
  font-size: 15px;
}

.attention-time td {
  border: none !important;
}

.time input {
  margin-bottom: 5px;
  margin-left: -5px;
  width: 65px;
}

.time input.to {
  display: inline-block;
}

.time.plus-value {
  font-size: 13px !important;
  color: #337ab7;
}
