.attention-time {
  th {
    font-size: 15px;
  }
  td {
    border: none !important;
  }
  .time {
    .printed {
      font-size: 14px;
      width: 85px;
      display: inline-block;
      margin-left: -18px;
    }
    input {
      margin-bottom: 5px;
      margin-left: -5px;
      width: 65px;
      &.to {
        display: inline-block;
      }
    }
    &.plus-value {
      font-size: 13px !important;
      color: #337ab7;
    }
  }

}

.modal-lg {
  width: 1000px !important;
}