.input-plus {
  width: 90%;
  display: inline-block;
}

.btn.plus-value {
  color: #4da4da;
  background-color: #fff;
  border-color: #fff;
  &:focus {
    outline: none;
    color: #151af0;
    background-color: #eafffd;
  }
  &:hover {
    color: #337ab7;
  }
}

.btn.minus-value {
  color: #da5d65;
  background-color: #fff;
  border-color: #fff;
  &:focus {
    outline: none;
    color: #f00000;
    background-color: #eafffd;
  }
  &:hover {
    color: #a00000;
  }
}

.section-title {
  margin-bottom: 10px;
  span {
    color: black;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
  }
  h3 {
    color: #106080;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.8;
    span {
      font-size: 22px;
      color: #106080;
    }
  }
}

.new-or-edit {
  .section-title span {
    font-size: 22px;
  }
}

// TODO: Habilitar cuando pueda setear la clase de css pero que no se aplique el efecto a los campos existentes
//@keyframes highlight {
//  0% {
//    background: #fffacf
//  }
//  100% {
//    background: none;
//  }
//}
//
//.backgroundAnimated {
//  animation: highlight 2s;
//  -webkit-animation: highlight 2s; /* Chrome and Safari */
//}