.show-dentist .buttons {
  display: inline-block;
  float: right;
}

.show-dentist div.title {
  display: inline-block;
  width: 115px;
}

.show-dentist .title span {
  font-size: 17px;
  line-height: 1.8;
  color: #0B465D;
}