.show-dentist {
  .buttons {
    display: inline-block;
    float: right;
    margin-right: 5px;
    cursor: pointer;
  }
  .edit-dentist {
    font-size: 20px !important;
    color: #3FB8EC;
    margin-right: 10px;
    background: none;
    &:hover {
      color: #3e95ec;
      outline: none;
    }
  }
  .delete-dentist {
    font-size: 20px !important;
    color: #ff4e56;
    background: none;
    &:hover {
      color: #f00000;
      outline: none;
    }
  }
  .width-115 {
    display: inline-block;
    width: 115px;
  }
  .width-135 {
    display: inline-block;
    width: 135px;
  }
  span.title {
    font-size: 17px;
    line-height: 1.6;
  }
  .body-visit {
    line-height: 1.8;
  }
  .dentist-value {
    font-size: 15px;
  }
  .btn-link {
    margin: 0 0 5px 5px;
    &:hover {
      color: red;
    }
  }
}