<div class="container show-dentist">
  <div class="row">
    <div class="col-xs-12 light-title padding-top-20">
      <span>{{showCtrl.dentist.name}} {{showCtrl.dentist.surname}} - {{showCtrl.dentist.enrollment}}</span>
      <div class="buttons">
        <span class="edit-dentist glyphicon glyphicon-pencil" data-ui-sref="form.edit({dentistId: showCtrl.dentist.id})" title="Editar"></span>
        <span class="delete-dentist glyphicon glyphicon-trash" data-ng-click="showCtrl.delete()" title="Eliminar"></span>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div>
        <button class="btn btn-xs btn-primary" data-ng-click="showCtrl.openMaps()">
          <span>Ver ubicación en Google Maps</span>
          <span class="glyphicon glyphicon-map-marker"></span>
        </button>
      </div>
      <div data-ng-repeat="location in showCtrl.dentist.locations track by $index">
        <div class="width-115" data-ng-show="$index == 0"><span class="title">Localidad: </span></div>
        <div class="width-115" data-ng-show="$index > 0"><span class="title">Localidad ({{$index + 1}}): </span></div>
        <span>{{location}}</span>
      </div>
      <div data-ng-repeat="institution in showCtrl.dentist.institutions track by $index">
        <div class="width-115" data-ng-show="$index == 0"><span class="title">Institución: </span></div>
        <div class="width-115" data-ng-show="$index > 0"><span class="title">Institución ({{$index + 1}}): </span></div>
        <span>{{institution}}</span>
      </div>
      <div data-ng-repeat="street in showCtrl.dentist.streets track by $index">
        <div class="width-115" data-ng-show="$index == 0"><span class="title">Calle: </span></div>
        <div class="width-115" data-ng-show="$index > 0"><span class="title">Calle ({{$index + 1}}): </span></div>
        <span>{{street}}</span>
      </div>
      <div data-ng-repeat="number in showCtrl.dentist.numbers track by $index">
        <div class="width-115" data-ng-show="$index == 0"><span class="title">Número: </span></div>
        <div class="width-115" data-ng-show="$index > 0"><span class="title">Número ({{$index + 1}}): </span></div>
        <span>{{number}}</span>
      </div>
      <div data-ng-repeat="telephone in showCtrl.dentist.telephones track by $index">
        <div class="width-115" data-ng-show="$index == 0"><span class="title">Teléfono: </span></div>
        <div class="width-115" data-ng-show="$index > 0"><span class="title">Teléfono ({{$index + 1}}): </span></div>
        <span>{{telephone}}</span>
      </div>
      <div data-ng-repeat="cellphone in showCtrl.dentist.cellphones track by $index">
        <div class="width-115" data-ng-show="$index == 0"><span class="title">Celular: </span></div>
        <div class="width-115" data-ng-show="$index > 0"><span class="title">Celular ({{$index + 1}}): </span></div>
        <span>{{cellphone}}</span>
      </div>
      <div data-ng-repeat="email in showCtrl.dentist.emails track by $index">
        <div class="width-115" data-ng-show="$index == 0"><span class="title">E-mail: </span></div>
        <div class="width-115" data-ng-show="$index > 0"><span class="title">E-mail ({{$index + 1}}): </span></div>
        <span>{{email}}</span>
      </div>
      <div>
        <div class="width-115"><span class="title">Especialidad: </span></div>
        <span>{{showCtrl.dentist.specialty}}</span>
      </div>
      <div>
        <div class="padding-top-20"><span class="title">Horarios de atención</span></div>
        <div data-ng-repeat="day in showCtrl.dentist.workCalendar.workableDays">
          <span class="width-115">{{day.day}}: </span>
          <span data-ng-repeat="hour in showCtrl.dentist.getWorkCalendar().workableHoursFor(day.day)">
            {{hour.from}} a {{hour.to}}
          </span>
        </div>
      </div>
    </div>

    <div class="col-xs-6 visits">
      <div class="well" data-ng-repeat="visit in showCtrl.dentist.visits track by $index">
        <div>
          <div class="width-135">
            <span class="title">Fecha: </span>
          </div>
          <span>{{showCtrl.getDateFor(visit) | date:'dd-MM-yyyy'}}</span>
        </div>

        <div>
          <div class="width-135"><span class="title">Visitador: </span></div>
          <span>{{visit.visitor.name}}</span>
        </div>

        <div>
          <div class="width-135"><span class="title">Observaciones: </span></div>
          <span>{{visit.observations}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
