<div class="container">
  <h2 class="text-center">Padrón de odontólogos</h2>
  <br>

  <div class="row">
    <div class="form-inline">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="search">Buscar</label>
          <input type="text" class="form-control" id="search" placeholder="Nombre, apellido, matrícula..." data-ng-model="searched">
        </div>
      </div>
    </div>
    <div class="col-xs-12"></div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Matrícula</th>
            <th>Localidad</th>
            <th>Institución</th>
            <th>Calle</th>
            <th>Número</th>
            <th>Teléfono</th>
            <th>Celular</th>
            <th>E-mail</th>
            <th>Especialidad</th>
            <th>Días y horarios de atención</th>
          </tr>
        </thead>
        <tbody data-ng-repeat="dentist in dentists | filter:searched">
          <tr>
            <td>{{dentist.name}}</td>
            <td>{{dentist.surname}}</td>
            <td>{{dentist.enrollment}}</td>
            <td>{{dentist.location}}</td>
            <td>{{dentist.institution}}</td>
            <td>{{dentist.street}}</td>
            <td>{{dentist.number}}</td>
            <td>{{dentist.telephone}}</td>
            <td>{{dentist.cellphone}}</td>
            <td>{{dentist.email}}</td>
            <td>{{dentist.specialty}}</td>
            <td>{{dentist.attention_datetime}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

  <div class="modal fade" id="confirm-delete{{$dentist}}" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Delete dentist?</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure want to delete {{$dentist}}?</p>
          <p>This action cannot be undone</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a class="btn btn-danger btn-ok" data-dismiss="modal" data-ng-click="delete(dentist)">Delete</a>
        </div>
      </div>
    </div>
  </div>

</div>