<div class="container" data-ng-controller="DentistCtrl as dentistCtrl">
  <div class="row text-center">
    <h2>Padrón de odontólogos</h2>
  </div>
  <div class="row padding-top-30">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="form-horizontal">
            <div class="form-group col-xs-6">
              <label for="inputSearch" class="col-xs-2 control-label search">Buscar</label>
              <div class="col-xs-8">
                <input type="text" class="form-control" id="inputSearch" placeholder="Ingrese cualquier campo" data-ng-model="dentistCtrl.searched">
              </div>
            </div>
            <div class="form-group col-xs-6 text-right">
              <div data-ng-show="dentistCtrl.searched.length > 3">
                <label for="buttonCreate" class="col-xs-10 control-label">
                  ¿No encontrás al que buscas?
                </label>
              </div>
              <div class="col-xs-2" data-ng-show="dentistCtrl.searched.length > 3">
                <button class="btn btn-success" data-ui-sref="form.new">Crear</button>
              </div>
              <div class="col-xs-12" data-ng-hide="dentistCtrl.searched.length > 3">
                <button class="btn btn-success" data-ui-sref="form.new">Crear</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
          <tr>
            <th data-ng-click="dentistCtrl.orderBy('surname')">
              <span data-uib-tooltip="Ordenar por apellido"
                    data-tooltip-placement="top"
                    data-tooltip-trigger="'mouseenter'"
                    data-tooltip-popup-delay="300">Odontólogo
                <span class="glyphicon glyphicon-triangle-top" data-ng-show="!dentistCtrl.reversed"></span>
                <span class="glyphicon glyphicon-triangle-bottom" data-ng-show="dentistCtrl.reversed"></span>
              </span>
            </th>
            <th>Matrícula</th>
            <th>Institución</th>
            <th>Ubicación</th>
            <th>Especialidad</th>
            <th>Contacto</th>
            <th>Nueva visita</th>
          </tr>
          </thead>
          <tbody data-ng-repeat="dentist in dentistCtrl.dentists | orderBy:dentistCtrl.fieldToOrder:dentistCtrl.reversed
                                                                 | filter:dentistCtrl.searched">
          <tr class="row-pointer">
            <td data-ui-sref="form.edit({dentistId: dentist.id})">{{dentist.name}} {{dentist.surname}}</td>
            <td data-ui-sref="form.edit({dentistId: dentist.id})">{{dentist.enrollment}}</td>
            <td data-ui-sref="form.edit({dentistId: dentist.id})">{{dentist.institution}}</td>
            <td data-ui-sref="form.edit({dentistId: dentist.id})">
              <span data-ng-show="dentist.street">{{dentist.street}}, </span>
              <span data-ng-show="dentist.number">{{dentist.number}} </span>
              <span data-ng-show="dentist.location">({{dentist.location}})</span>
            </td>
            <td data-ui-sref="form.edit({dentistId: dentist.id})">{{dentist.specialty}}</td>
            <td data-ui-sref="form.edit({dentistId: dentist.id})">
              <span data-ng-show="dentist.telephone">{{dentist.telephone}} <br></span>
              <span data-ng-show="dentist.cellphone">{{dentist.cellphone}} <br></span>
              <span data-ng-show="dentist.email">{{dentist.email}}</span>
            </td>
            <td class="text-center">
              <button class="btn btn-xs btn-success" data-ng-click="dentistCtrl.openModal(dentist)"
                      data-uib-tooltip="Registrar nueva visita"
                      data-tooltip-placement="right"
                      data-tooltip-trigger="'mouseenter'"
                      data-tooltip-popup-delay="300">+
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div data-ui-view></div>
