<div class="container" data-ng-controller="DentistCtrl as dentistCtrl">
  <div class="row text-center">
    <h2>Padrón de odontólogos</h2>
  </div>
  <div class="row padding-top-30">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="form-horizontal">
            <div class="form-group col-xs-6">
              <label for="inputSearch" class="col-xs-2 control-label search">Buscar</label>
              <div class="col-xs-8">
                <input type="text" class="form-control" id="inputSearch" placeholder="Ingrese cualquier campo" data-ng-model="dentistCtrl.searched">
              </div>
            </div>
            <div class="form-group col-xs-6 text-right btn-create">
              <div data-ng-show="dentistCtrl.searched.length > 4">
                <label for="buttonCreate" class="col-xs-10 control-label">¿No encontrás al que buscas?</label>
                <div class="col-xs-2">
                  <button class="btn btn-warning" data-ui-sref="form.new" title="Crear un nuevo odontólogo">Crear</button>
                </div>
              </div>
              <div class="col-xs-12" data-ng-hide="dentistCtrl.searched.length > 4">
                <button class="btn btn-success" data-ui-sref="form.new" title="Crear un nuevo odontólogo">Crear</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
          <tr>
            <th data-ng-click="dentistCtrl.orderBy('surname')" class="row-pointer col-xs-2">
              <span data-uib-tooltip="Ordenar por apellido"
                    data-tooltip-placement="top"
                    data-tooltip-trigger="'mouseenter'"
                    data-tooltip-popup-delay="300">Odontólogo
                <span class="glyphicon glyphicon-triangle-top" data-ng-show="!dentistCtrl.reversed"></span>
                <span class="glyphicon glyphicon-triangle-bottom" data-ng-show="dentistCtrl.reversed"></span>
              </span>
            </th>
            <th class="col-xs-1">Matrícula</th>
            <th class="col-xs-2">Instituto</th>
            <th class="col-xs-2">Ubicación</th>
            <th class="col-xs-2">Especialidad</th>
            <th class="col-xs-2">Contacto</th>
            <th class="col-xs-1">Nueva visita</th>
          </tr>
          </thead>
          <tbody data-ng-repeat="dentist in dentistCtrl.dentists | orderBy:dentistCtrl.fieldToOrder:dentistCtrl.reversed
                                                                 | filter:dentistCtrl.searched">
          <tr class="row-pointer">
            <td data-ui-sref="show({dentistId: dentist.id})">{{dentist.name}} {{dentist.surname}}</td>
            <td data-ui-sref="show({dentistId: dentist.id})">{{dentist.enrollment}}</td>
            <td data-ui-sref="show({dentistId: dentist.id})">{{dentist.institutes[0].name}}</td>
            <td data-ui-sref="show({dentistId: dentist.id})">
              <span data-ng-hide="dentist.emptyValue(dentist.institutes[0].street)">{{dentist.institutes[0].street}}, </span>
              <span data-ng-hide="dentist.emptyValue(dentist.institutes[0].number)">{{dentist.institutes[0].number}} </span>
              <span data-ng-hide="dentist.emptyValue(dentist.institutes[0].location)">({{dentist.institutes[0].location}})</span>
            </td>
            <td data-ui-sref="show({dentistId: dentist.id})">{{dentist.specialty}}</td>
            <td data-ui-sref="show({dentistId: dentist.id})">
              <span data-ng-hide="dentist.emptyValue(dentist.telephones[0])">{{dentist.telephones[0]}} <br></span>
              <span data-ng-hide="dentist.emptyValue(dentist.cellphones[0])">{{dentist.cellphones[0]}} <br></span>
              <span data-ng-hide="dentist.emptyValue(dentist.emails[0])">{{dentist.emails[0]}}</span>
            </td>
            <td class="text-center">
              <button class="btn btn-xs btn-success" data-ng-click="dentistCtrl.openModal(dentist)"
                      data-uib-tooltip="Registrar nueva visita"
                      data-tooltip-placement="right"
                      data-tooltip-trigger="'mouseenter'"
                      data-tooltip-popup-delay="300">+
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div data-ui-view></div>
