<div class="container">
  <div class="row text-center">
    <h2>Padrón de odontólogos</h2>
  </div>
</div>
<div class="container-fluid" data-ng-controller="DentistCtrl as dentistCtrl">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="form-inline">
        <div class="form-group padding-top-30">
          <h4 class="search">Buscar</h4>
          <input type="text" class="form-control" id="search" placeholder="Ingrese cualquier campo" data-ng-model="dentistCtrl.searched">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 padding-top-20" data-ng-show="dentistCtrl.searched.length > 2">
      <div class="form-group">
        <label for="buttonCreate">No encontrás al que buscas?</label>
        <button class="btn btn-success" data-ui-sref="form.new">Crear</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 padding-top-30">
      <table class="table table-hover table-nonfluid">
        <thead>
        <tr>
          <th>Nueva</th>
          <th>Matrícula</th>
          <th>Apellido</th>
          <th>Nombre</th>
          <th>Localidad</th>
          <th>Institución</th>
          <th>Calle</th>
          <th>Número</th>
          <th>Teléfono</th>
          <th>Celular</th>
          <th>E-mail</th>
          <th>Especialidad</th>
          <th>Días y horarios de atención</th>
        </tr>
        </thead>
        <tbody data-ng-repeat="dentist in dentistCtrl.dentists | filter:dentistCtrl.searched">
        <tr class="row-pointer">
          <td><button class="btn btn-xs btn-success">+</button></td>
          <td data-ui-sref="form.edit({dentistId: dentist.id})" >{{dentist.enrollment}}</td>
          <td data-ui-sref="form.edit({dentistId: dentist.id})" >{{dentist.surname}}</td>
          <td data-ui-sref="form.edit({dentistId: dentist.id})" >{{dentist.name}}</td>
          <td data-ui-sref="form.edit({dentistId: dentist.id})" >{{dentist.location}}</td>
          <td data-ui-sref="form.edit({dentistId: dentist.id})" >{{dentist.institution}}</td>
          <td data-ui-sref="form.edit({dentistId: dentist.id})" >{{dentist.street}}</td>
          <td data-ui-sref="form.edit({dentistId: dentist.id})" >{{dentist.number}}</td>
          <td data-ui-sref="form.edit({dentistId: dentist.id})" >{{dentist.telephone}}</td>
          <td data-ui-sref="form.edit({dentistId: dentist.id})" >{{dentist.cellphone}}</td>
          <td data-ui-sref="form.edit({dentistId: dentist.id})" >{{dentist.email}}</td>
          <td data-ui-sref="form.edit({dentistId: dentist.id})" >{{dentist.specialty}}</td>
          <td data-ui-sref="form.edit({dentistId: dentist.id})" >{{dentist.attention_datetime}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div data-ui-view></div>
