<div class="container">
  <h1 class="text-center">The Home View!</h1>
  <br>

  <div class="col-xs-4">
    <div class="row">
      <h3>Add new item</h3>
      <form>
        <div class="form-group">
          <label for="inputName">Name</label>
          <input type="text" class="form-control" id="inputName" placeholder="Name" data-ng-model="newItem.name">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" data-ng-model=newItem.show> Show in list?
          </label>
        </div>
        <button type="submit" class="btn btn-success" data-ng-if="!editing" data-ng-click="addItem()">Submit</button>
        <button type="submit" class="btn btn-success" data-ng-if="editing" data-ng-click="saveItem()">Save</button>
      </form>
    </div>
  </div>

  <div class="col-xs-6" style="float:right;">
    <h3 class="input-group">Product list</h3>
    <h5 style="color: red;">* hidden items</h5>
    <input type="text" class="form-control" placeholder="Search for name" data-ng-model="nameSearched">
    <br><br>

    <table class="table table-hover">
    <thead>
      <tr><th>Name</th><th>Actions</th></tr>
    </thead>
    <tbody data-ng-repeat="item in items | filter:{name: nameSearched}">
      <tr>
        <td data-ng-if="!item.show" style="color:red;">{{item.name}}</td>
        <td data-ng-if="item.show">{{item.name}}</td>
        <td>
          <button class="btn btn-success" data-ng-if="item.show" data-ng-click="showOrHide(item)">Hide</button>
          <button class="btn btn-success" data-ng-if="!item.show" data-ng-click="showOrHide(item)">Show</button>
          <button class="btn btn-info" data-ng-click="edit(item)">Edit</button>
          <button class="btn btn-danger" data-ng-click="delete(item)">Delete</button>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
  
</div>