@import 'main';

body {
  font-family: 'Roboto', sans-serif;
  color: #555;
  padding-top: 70px;
}

img.logo {
  width: 35px;
  margin-top: -10px;
}

.light-title {
  font-size: 25px;
  font-weight: 300;
  padding-bottom: 25px;
}

.footer { padding-top: 30px; }
