@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'main';
@import 'dashboard';

@font-face {
  font-family: "Roboto Regular";
  src: url(/assets/Roboto/Roboto-Regular.ttf) format("truetype");
}

body {
  font-family: 'Roboto Regular', sans-serif !important;
  color: #555;
}
