/* This file contains the styles for home.html */

.row-pointer { cursor: pointer; }
.padding-top-30 { padding-top: 30px; }
.padding-top-20 { padding-top: 20px; }
input#search { display: inline-block; }

label.search {
  font-size: 18px;
  font-weight: 400;
  margin-top: -2px;
}

.btn-create {
  margin-left: 35px !important;
}